{% extends "layout.njk" %}
{% block content %}
<article class="prose max-w-none">
  <h1>About connectED</h1>
  <p>connectED serves as a collaborative platform, developing connections among students sharing the same class or course. The primary concept revolves around enabling students, regardless of their locations, to use the application to find study partners. Once connected, users can utilize the in-app messaging feature to coordinate study sessions, agreeing upon specific times and dates to study with one another. Moreover, the application allows for resource-sharing, allowing students to exchange files like PDFs and Word documents to enhance collaborative revision efforts.</p>
</article>
<div class="mt-8">
  <img src="/Assets/About.PNG" alt="Students collaborating" class="rounded-lg shadow-md w-full h-auto" />
</div>
{% endblock %}
