<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="stylesheet" href="Css/style.css">
        <script src="Script/script.js" defer></script>
    </head>
    <body>
        <header>
            <div class="bodystyle_div" id="head">
                <a href="/"><img src="Assets/ConnectEdLogo.png" alt="Logo">
                </a>
            </div>
        </header>
        <div class="grid">
            <div class="grid_item1" id="about">
                ConnectEd serves as a collaborative platform, developing connections among students sharing the same class or course.
                The primary concept revolves around enabling students, regardless of their locations, to use the application to find
                study partners. Once connected, users can utilize the in-app messaging feature to coordinate study sessions, agreeing
                upon specific times and dates to study with one another. Moreover, the application allows for resource-sharing, allowing
                students to exchange files like PDFs and Word documents to enhance collaborative revision efforts.
            </div>
            <div class="grid_item2">
                <img src="Assets/About.PNG" alt="DiscussPic" class="DiscussPic">
            </div>
        </div>
    </body>
</html>